/node_modules
/keys.js
/final-176901-a7cd689a3b01.json

# exclude everything in workspaces
/workspaces/*

# do not exclude workspaces itself
!workspaces/.gitkeep

# exclude everything in config
/config/*

# do not exclude config itself
!config/.gitkeep
