<div>
  <p>This is where the IDE will go...</p>

  <div id='terminal' data-aquarius-domain='{{ aquarius_domain }}' data-aquarius-port='{{ aquarius_port }}'></div>
</div>

Greetings {{ display_name }}
<br />
<a href='/logout'>Logout</a>
