<div id="title">
	<img src="vide3.png">
	<br />
	A voice controlled IDE.
	<br />
	<img src="logo.png">
</div>
<div id="sign-in">
	<br />
		<a href='auth/google'>   
			<img id="googlePlus" src="google.png">
		</a>
</div>
