.row{
	background: #f8f9fa;
	margin-top: 0px;
	margin-bottom: 0px;
}

.border{
	border: solid 1px #6x757d;
	padding: 10px;
}


#title{
	text-align:center;
	margin:auto;
	padding-bottom:10px;
}
#sign-in{
	border-style: solid;
	border-radius:15px;
	border-width:1px;
	border-color:gray;
	text-align:center;
	margin:auto;
	width:300px;
	padding-bottom:10px;
}

#sign-in:hover{
	box-shadow: 5px 5px 2px gray;
}

#siError{
    text-align:center;
    margin:auto;
    padding-top:10px;
    color:red;
}

#editor {
	height: 300px;
}
