.row{
	background: #f8f9fa;
	margin-top: 0px;
	margin-bottom: 0px;
	
}
.nopadding{
	padding: 0 !important;
	margin: 0 !important;
}
#title{
	text-align:center;
	margin:auto;
	padding-bottom:10px;
}
#sign-in{
	border-style: solid;
	border-radius:15px;
	border-width:1px;
	border-color:gray;
	text-align:center;
	margin:auto;
	width:300px;
	padding-bottom:10px;
}

#sign-in:hover{
	box-shadow: 5px 5px 2px gray;
}

#siError{
  text-align:center;
  margin:auto;
  padding-top:10px;
  color:red;
}
#editor {
	height: 300px;
}

#chat-box {
	height: 100%;
	margin-left: 0px;
}

#chat-history-container {
	margin: 0px 0px 10px 0px;
	border: 1px solid #dee2e6;
	height: 500px;
	overflow: scroll;
}

#message-form #message-input {
	font-size: 12px;
	border: 1px solid #dee2e6;
	width: 100%;
	margin: 2.5px 0;
}

#message-form {
	height: 15%;
	margin-left: 0px;
}

#message-input {
	height: 50px;
}

#chat-history {
	padding: 5px;
	list-style-type: none;
}

#chat-history li {
	padding: 5px;
	border-bottom: 1px solid #dee2e6;
}

.message-details, .message-content {
	padding: 0;
	margin: 0;
}

.message-content {
	font-size: 12px;
}

.message-details {
	font-size: 10px;
	opacity: 0.5;
}

.received-message, .error-message {
	text-align: left;
}

.error-message .message-content {
	color: red;
}

.sent-message {
	text-align: right;
}
