.row{
	background: #f8f9fa;
	margin-top: 0px;
	margin-bottom: 0px;
	
}
.nopadding{
	padding: 0 !important;
	margin: 0 !important;
}
#title{
	text-align:center;
	margin:auto;
	padding-bottom:10px;
}
#sign-in{
	border-style: solid;
	border-radius:15px;
	border-width:1px;
	border-color:gray;
	text-align:center;
	margin:auto;
	width:300px;
	padding-bottom:10px;
}

#sign-in:hover{
	box-shadow: 5px 5px 2px gray;
}

#siError{
  text-align:center;
  margin:auto;
  padding-top:10px;
  color:red;
}
#editor {
	height: 300px;
}

#chat-box {
	height: 100%;
	margin-left: 0px;
}

#chat-history-container {
	margin: 0px 0px 10px 0px;
	border: 1px solid #dee2e6;
	height: 500px;
	overflow: scroll;
}

#message-form #message-input {
	font-size: 12px;
	border: 1px solid #dee2e6;
	width: 100%;
	margin: 2.5px 0;
}

#message-form {
	height: 15%;
	margin-left: 0px;
}

#message-input {
	height: 50px;
}

#chat-history {
	padding: 5px;
	list-style-type: none;
}

#chat-history li {
	padding: 5px;
	border-bottom: 1px solid #dee2e6;
}

#profilePic{
	border-radius:50%;
}

 ul.fancytree-container {
  border: none;
  background-color: #f8f9fa;
  font-size: 1.2vw;
  outline:none !important;
}

#displayName{
	font-size: 1vw;
}

.message-details, .message-content {
	padding: 0;
	margin: 0;
}

.message-content {
	font-size: 12px;
}

.message-details {
	font-size: 10px;
	opacity: 0.5;
}

.received-message, .error-message {
	text-align: left;
}

.error-message .message-content {
	color: red;
}

.sent-message {
	text-align: right;
}

.hwTut {
    position: relative;
    display: inline-block;
}

.hwTut .hwText {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.hwTut .hwText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.hwTut:hover .hwText {
    visibility: visible;
    opacity: 1;
}

.thwTut {
    position: relative;
    display: inline-block;
}

.thwTut .thwText {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.thwTut .thwText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.thwTut:hover .thwText {
    visibility: visible;
    opacity: 1;
}

li {
	cursor: pointer;
}

